{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン｜Track</title>

    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    {% include "track/header.html" %}
    <div class="main-wrapper">
        <div class="login-wrapper">
            <h2>ログイン</h2>
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}<br>
                {% endfor %}
                <div>
                    {% for error in form.non_field_errors %}
                    <div role="alert">
                        <p>{{ error }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit">ログイン</button>
            </form>
        </div>
    </div>
</body>
</html>