{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Track｜知識を体系的にまとめる学習支援サービス</title>
    <link rel="stylesheet" href="{% static 'track/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.0/cytoscape.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- variable definitions for cytoscape_settings.js -->
    <script>
        // https://stackoverflow.com/questions/36689075/how-to-use-django-variable-in-javascript-file
        // const articles = [
        //             {% for article in nodes %}
        //             {'uid': '{{ article.uid }}',
        //              'title': '{{ article.title }}',
        //              'body': '{{ article.body }}'},
        //             {% endfor %}
        //         ];
    </script>
    <script src="{% static 'track/cytoscape_settings.js' %}"></script>
    <script>
        
        $(function () {
            
            $('#article-detail').hide();

            // TODO: これの置き場所は冒頭でいいかも
            {% autoescape off %}
            const articles = [
                {% for article in nodes %}
                {'uid': '{{ article.uid }}',
                    'title': '{{ article.title }}',
                    'body': '{{ article.body }}'},
                {% endfor %}
            ];
            {% endautoescape %}

            var cy = cytoscape({
                container: $('#cy'),
                elements: [ // list of graph elements to start with
                    // autoescape offは、変数をそのまま読み込むと'が&#2za;（うろ覚え）みたいになるから、
                    // それを避けるために必要
                    {% autoescape off %}
                    {% for article in nodes %}
                    {data: {id: '{{article.uid}}', title: '{{article.title}}'}},
                    {% endfor %}
                    {% for rel in edges %}
                    // 本当ならRelationshipObject.start_node()でNodeObjectを取得できるけど、
                    // Djangoだと()を付けないらしい。
                    // 辞書型にも同様の現象あり：https://swiftfe0.hatenablog.com/entry/2017/11/03/002502
                    {data: {source: '{{rel.start_node.uid}}', target: '{{rel.end_node.uid}}'}},
                    {% endfor %}
                    {% endautoescape %}
                    // { // node a
                    //     data: { id: 'a' }
                    // },
                    // { // node b
                    //     data: { id: 'b' }
                    // },
                    // { // edge ab
                    //     data: { id: 'ab', source: 'a', target: 'b' }
                    // }
                ],

                style: [ // the stylesheet for the graph
                    {
                        selector: 'node',
                        style: {
                            'background-color': '#666',
                            // 'label': 'data(id)'
                            'label': 'data(title)'
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle',
                            'curve-style': 'bezier',
                            // 'label': 'data('
                        }
                    }
                ],

                layout: {
                    name: 'grid',
                    rows: 1
                },
                wheelSensitivity: 0.2,
            });

            cy.on('tap', 'node', function(evt){
                var node = evt.target;
                // console.log( 'tapped ' + node.id() );
                for(let i = 0; i < articles.length; i++) {
                    if(node.id() === articles[i].uid) {
                        $('#article-title').text(articles[i].title);
                        $('#article-body').text(articles[i].body);
                        break;
                    }
                }

                $('#article-detail').show();
            });

            cy.on('tap', function(event){
                var evtTarget = event.target;
                if( evtTarget === cy ){
                    $('#article-detail').hide();
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="#">Track</a>
            </div>
        </div>
    </header>
    <div class="main-wrapper">
        <div class="graph-wrapper">
            <div id="cy"></div>
        </div>
        <div class="article-wrapper" id="article-detail">
            <h2 id="article-title"></h2>
            <p id="article-body"></p>
        </div>
        <a href="#" class="btn">+</a>
    </div>
    <div class="contain">
        <div>
            <p>{{nodes}}{{edges}}</p>
            <form action="{% url 'track:addnode' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h2>記事の新規作成</h2>
                    </legend>
                    <p>タイトル<input type="text" name="title" required></p>
                    <p>本文<textarea name="body" cols="30" rows="10" required></textarea></p>
                    <p>
                        参照した記事（カンマ区切りでUIDを入力してください）
                        <input type="text" name="references">
                    </p>
                    <input type="submit" value="投稿する">
                </fieldset>
            </form>
            <form action="{% url 'track:delnode' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h2>記事の削除</h2>
                    </legend>
                    <p>ノードのUID<input type="text" name="uid" required></p>
                    <input type="submit" value="削除する">
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>