{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Track｜知識を体系的にまとめる学習支援サービス</title>
    <link rel="stylesheet" href="{% static 'track/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.0/cytoscape.min.js"></script>

    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>

    <script src="{% static 'track/cytoscape_settings.js' %}"></script>
    <script src="{% static 'track/selected_nodes.js' %}"></script>

    <script>
        
        // viewから渡された変数の展開
        {% autoescape off %}
        const articles = [
            {% for article in nodes %}
            {'uid': '{{ article.uid }}',
                'title': '{{ article.title }}',
                'body': '{{ article.body }}'},
            {% endfor %}
        ];
        {% endautoescape %}

        const reference_list = [];
        let colored_nodes = [];
        let selected_nodes = new SelectedNodes();

        $(function () {
            
            const cy = cytoscape({

                container: $('#cy'),

                elements: [
                    {% autoescape off %}

                    {% for article in nodes %}
                    { data: { id: '{{article.uid}}', title: '{{article.title}}' } },
                    {% endfor %}

                    {% for rel in edges %}
                    { data: { source: '{{rel.start_node.uid}}', target: '{{rel.end_node.uid}}' } },
                    {% endfor %}

                    {% endautoescape %}
                ],

                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': '#666',
                            'label': 'data(title)'
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle',
                            'curve-style': 'bezier',
                        }
                    }
                ],

                layout: {
                    name: 'dagre',
                    rows: 1
                },

                wheelSensitivity: 0.2,

            });


            // ノードをクリックしたとき
            cy.on('tap', 'node', function(evt){
                var node = evt.target;
                
                // 今クリックされたノードに色を付ける
                // node.style('background-color', '#719ddc');
                // colored_nodes.push(node);
                // SelectedNodes.push(node, '#719ddc');
                selected_nodes.push_and_color(node, '#719ddc');
                console.log(selected_nodes.get_nodes);

                // 記事の新規作成中は、ノードのidをリストに追加する
                if($('#article-create').is(":visible")) {
                    // reference_list.push(node.id());
                    // $('#references').text(reference_list);
                    $('#references').text(selected_nodes.get_nodes['id']);
                    return;
                }

                // 記事の削除中は、ノードのidを削除リストに追加する
                if($('#article-delete').is(":visible")) {
                    // reference_list.push(node.id());
                    // $('#references').text(reference_list);
                    // return;
                }

                // 一つ前にクリックされたノードの色をデフォルトに戻す
                // if(colored_nodes[0] !== node) {
                //     colored_nodes.shift().removeStyle();
                // }
                selected_nodes.pop_and_decolor();

                // idの一致するノードを線形探索
                for(let i = 0; i < articles.length; i++) {
                    if(node.id() === articles[i].uid) {
                        $('#article-title').text(articles[i].title);
                        $('#article-body').text(articles[i].body);
                        break;
                    }
                }

                $('#article-detail').show();
            });

            
            cy.on('tap', function(event){
                var evtTarget = event.target;
                
                // 背景をクリックしたとき
                if( evtTarget === cy ){
                    $('#article-detail').hide();

                    // 新規作成時以外で色付きのノードがある場合、そのノードの色を元に戻す
                    // TODO: .is(":hidden")で代替可能？
                    // if( colored_nodes.length !== 0 && !($('#article-create').is(":visible")) && !($('#article-delete').is(":visible")) ) {
                    //     colored_nodes.shift().removeStyle();
                    // }
                    if($('#article-create').is(":hidden") && $('#article-delete').is(":hidden")) {
                        selected_nodes.pop_and_decolor();
                    }
                }
            });
            
        });

    </script>

</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="#">Track</a>
            </div>
        </div>
    </header>
    <div class="main-wrapper">

        <div class="graph-wrapper">
            <div id="cy"></div>
        </div>

        <div class="article-wrapper" id="article-detail" style="display: none;">
            <h2 id="article-title"></h2>
            <p id="article-body"></p>
            <a href="#" onclick="hide_article_page()">x</a>
        </div>

        <div class="article-wrapper" id="article-create" style="display: none;">
            <h2>記事の新規作成</h2>
            <a href="#" onclick="hide_create_page()">x</a>
            <form action="{% url 'track:addnode' %}" method="post">
                {% csrf_token %}
                <p>タイトル<input type="text" name="title" required></p>
                <p>本文<textarea name="body" cols="30" rows="10" required></textarea></p>
                <p>
                    参照した記事（カンマ区切りでUIDを入力してください）
                    <textarea name="references" id="references" cols="30" rows="10"></textarea>
                </p>
                <input type="submit" value="投稿する">
            </form>
        </div>
        
        <div class="article-wrapper" id="article-delete" style="display: none;">
            <h2>記事の削除</h2>
            <a href="#" onclick="hide_delete_page()">x</a>
            <form action="{% url 'track:delnode' %}" method="post">
                {% csrf_token %}
                <p><textarea name="uid" id="delnodes" cols="30" rows="10"></textarea></p>
                <!-- <p>ノードのUID<input type="text" name="uid" required></p> -->
                <input type="submit" value="削除する">
            </form>
        </div>

        <a href="#" class="btn btn-new" onclick="show_create_page()">+</a>
        <a href="#" class="btn btn-del" onclick="show_delete_page()">x</a>

    </div>
    <div class="contain">
        <div>
            
            <form action="{% url 'track:delnode' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h2>記事の削除</h2>
                    </legend>
                    <p>ノードのUID<input type="text" name="uid" required></p>
                    <input type="submit" value="削除する">
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>