{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Track｜知識を体系的にまとめる学習支援サービス</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fontawesome/all.css' %}"> -->
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- for highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.2/cytoscape.umd.js"
        integrity="sha512-f2pi4FT6LCwl93apc24uOUnAg8FtnkcSI1TLTQ96We8bzniiO8z7+S6qXBthmvJSFORTTjCmQL82MY7Jhi5FVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://marvl.infotech.monash.edu/webcola/cola.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-cola@2.5.1/cytoscape-cola.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.17/marked.min.js"
        integrity="sha512-vSD33WvMJMZwnOWxigzY4MmmUnGqY4APr91CZ4h3UTJ29AmZ8vW3WOwKycGptx7ow1f2SDYKLchv/qKnYHWI+w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.8/purify.min.js"
        integrity="sha512-M72KfQy4kPuLYC6CeTrN0eA17U1lXEMrr5qEJC/40CLdZGC3HpwPS0esQLqBHnxty2FIcuNdP9EqwSOCLEVJXQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
        integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    {% include "track/header.html" %}
    
    <main class="body">

        <div class="body__overlay"></div>

        <div class="body__modal-delete-article">

            <form action="{% url 'track:delnode' %}" method="post" id="del-node-form">
                {% csrf_token %}
                <div class="body__modal-close"><i class="fa-solid fa-xmark"></i></div>
                <h2>記事の削除</h2>
                <p>一度削除した記事は元に戻せません。本当に削除しますか？</p>
                <input type="hidden" name="node-id" id="del-id">
                <input type="hidden" name="user" id="user">
                <button type="submit">削除する</button>
            </form>

        </div>

        <section class="body__graph-view">
            <div id="cy"></div>
        </section>

        <section class="article-wrap">

            <article class="">

            </article>

        </section>

    </main>

    <script>
        {% autoescape off %}
        const graph_data = {{ graph_data }};
        const current_user = "{{ user.get_username }}";
        {% endautoescape %}

        // https://orange-log.com/javascript-modal/
        // ボタン、モダル、モダルの閉じるボタン、オーバーレイを変数に格納
        const btn = document.getElementById('btn-del');
        const modal = document.querySelector('.modal');
        const closeBtn = document.querySelector('.close');
        const overlay = document.querySelector('.overlay');

        // ボタンをクリックしたら、モダルとオーバーレイに.activeを付ける
        btn.addEventListener('click', function (e) {
            // aタグのデフォルトの機能を停止する
            e.preventDefault();
            // モーダルとオーバーレイにactiveクラスを付与する
            modal.classList.add('active');
            overlay.classList.add('active');
        });

        // モダルの閉じるボタンをクリックしたら、モダルとオーバーレイのactiveクラスを外す
        closeBtn.addEventListener('click', function () {
            modal.classList.remove('active');
            overlay.classList.remove('active');
        });

        // オーバーレイをクリックしたら、モダルとオーバーレイのactiveクラスを外す
        overlay.addEventListener('click', function () {
            modal.classList.remove('active');
            overlay.classList.remove('active');
        });
    </script>
    <script src="{% static 'track/markdown.js' %}"></script>
    <script src="{% static 'track/cytoscape.js' %}"></script>
</body>

</html>