a {
    text-decoration: none;
}

.article-wrapper {
    width: 50%;
    height: 100%;
    background-color: #e5eaee;
    padding: 20px 40px;

    float: right;
    position: absolute;
    top: 0px;
    right: 0px;

    box-shadow: -4px 0px 6px rgb(88, 88, 88);

    overflow-x: visible;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.article-wrapper h1,
.article-wrapper p,
.article-wrapper label {
    color: #444;
}

.article-wrapper input {
    width: 100%;
    margin-bottom: 10px;
}

.article-wrapper textarea {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

/* https://jajaaan.co.jp/css/button/#zheng_yuanbotan */
.btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    color: #e6e6e6;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.4;

    text-align: center;
    text-decoration: none;

    position: absolute;
    left: 50px;

    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-new {
    background-color: #3474ce;
    bottom: 50px;
}

/* .btn-del {
    background-color: #ff6b6a;
    bottom: 150px;
} */

.btn-new:hover {
    background-color: #67a3f8;
}

/* .btn-del:hover {
    background-color: #ff9a9a;
} */

.btn-column {
    width: 100%;
    height: 45px;
    margin: 0 auto 10px auto;
    line-height: 45px;
}

.btn-left {
    float: left;
}

.btn-left .btn-page {
    font-size: 22px;
}

.btn-left a,
.btn-right a {
    margin-right: 20px;
    display: block;
}

.btn-right {
    float: right;
}

.btn-page {
    font-size: 30px;
    font-weight: 700;
    color: #444;

    display: block;
    text-align: right;
}

#btn-edit {
    visibility: hidden;
}

#btn-edit.active {
    visibility: visible;
}

#btn-del {
    visibility: hidden;
}

#btn-del.active {
    visibility: visible;
}

body {
    margin: 0;
}

#cy {
    height: 100%;
}

.errorlist {}

.form-area {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.graph-wrapper {
    height: 100%;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(35, 40, 47, 0.9);
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: #e6e6e6;
    display: block;
    font-size: 22px;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #e6e6e6;
    display: block;
    font-size: 18px;
}

.login-wrapper {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.login-wrapper h2 {
    margin-bottom: 20px;
}

.login-wrapper form {
    width: 90%;
    margin: 0 auto;
}

.login-wrapper p {
    margin-bottom: 20px;
}

.login-wrapper table {
    width: 700px;
    margin: 0 auto 20px auto;
}

.main-wrapper {
    height: calc(100vh - 65px);
    position: relative;
}

/* https://orange-log.com/javascript-modal/ */
/* オーバーレイ */
.overlay {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
    /* 表示する際の変化の所要時間 */
    transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
    /* activeクラスがついたときにオーバーレイを表示する */
    opacity: 1;
    visibility: visible;
}

/* モーダルウィンドウ */
.modal {
    max-width: 500px;
    width: 86%;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
    opacity: 1;
    visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

.modal p {
    font-size: 13px;
}