a {
    text-decoration: none;
}

.article-wrapper {
    width: 50%;
    height: 100%;
    background-color: #e5eaee;
    padding: 20px 40px;

    float: right;
    position: absolute;
    top: 0px;
    right: 0px;

    box-shadow: -4px 0px 6px rgb(88, 88, 88);

    overflow-x: visible;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#close_btn {
    font-size: 30px;
    font-weight: 700;
    color: #444;

    display: block;
    text-align: right;
}

.article-wrapper h1,
.article-wrapper p,
.article-wrapper label {
    color: #444;
}

.article-wrapper input {
    width: 100%;
    margin-bottom: 10px;
}

.article-wrapper textarea {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

/* https://jajaaan.co.jp/css/button/#zheng_yuanbotan */
.btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    color: #e6e6e6;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.4;

    text-align: center;
    text-decoration: none;

    position: absolute;    
    left: 50px;

    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-new {
    background-color: #3474ce;
    bottom: 50px;
}

.btn-del {
    background-color: #ff6b6a;
    bottom: 150px;
}

.btn-new:hover {
    background-color: #67a3f8;
}

.btn-del:hover {
    background-color: #ff9a9a;
}

body {
    margin: 0;
}

#cy {
    height: 100%;
}

.errorlist {

}

.form-area {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.graph-wrapper {
    height: 100%;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(35, 40, 47, 0.9);
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: #e6e6e6;
    display: block;
    font-size: 22px;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #e6e6e6;
    display: block;
    font-size: 18px;
}

.login-wrapper {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.login-wrapper h2 {
    margin-bottom: 20px;
}

.login-wrapper form {
    width: 90%;
    margin: 0 auto;
}

.login-wrapper p {
    margin-bottom: 20px;
}

.login-wrapper table {
    width: 700px;
    margin: 0 auto 20px auto;
}

.main-wrapper {
    height: calc(100vh - 65px);
    position: relative;
}
